body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
  }

  a{
    color : inherit;
    text-decoration: none;
    font-weight: bold;
  }
  .user-profile{
  display: flex;
  gap:50px;
  font-size: 20px;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #333;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo span {
    color: rgb(255, 255, 255);
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffa726;
  }

  .profile-icon i {
    font-size: 2.5em;
    background-color: #ffa726;
    color: #333333;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .profile-icon i:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  
  .hero {
    color: #fff;
    height: 300px;
    text-align: center;
    padding: 50px 20px;
  }


.video-background {
    position:absolute; 
    height: 400px;
    overflow: hidden;
    z-index: -1;
}

h1{
  font-size: 50px;
}

  p{
    font-size: 30px;
    
  }
  .search {
    
  
    display: flex;
    width: 100%;
    max-width: 950px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: -160px auto 80px;   
     
  }

.field {
 height: 50px;
 display: flex;
 flex-direction: column;
padding: 28px; /* مسافة داخلية */
}


.title{
  font-size: 30px;
  margin:20px;
}

.line-one{
  
  display: flex;
  width: 100%;
  margin: 30px auto 8px;
  
}
.line-two{
  
  display: flex;
  width: 100%;
  margin: 8px auto 10px;
  gap: 50px;
}

.line-three{
  
  display: flex;
  width: 100%;
  margin: 10px auto 50px;
  gap: 50px;
}


.line-four{
  display: flex;
  width: 100%;
  margin: 20px auto 10px;
  gap: 10px;
}
.line-five{
  display: flex;
  width: 100%;
  margin: 20px auto 10px;
  gap: 50px;
}

.line-six{
  gap: 50px;
  display: flex;
  width: 100%;
  margin: 10px auto 10px;
}


.custom-select {
  position: relative;
  display: inline-block;
}

form {
  width: 100%;
  max-width: 100%;
  background: rgba(255, 255, 255, 0.2); /* اللون الأبيض مع الشفافية */
  border-radius: 25px;
  backdrop-filter: blur(10px); /* تأثير الضبابية */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* إضافة ظل لتقوية التأثير */
color:white;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}


.field {
  width: 100%;
}

.field label {
  font-size: 16px;
  color: #333;
  margin-bottom: 8px;
  display: block;
}


 input[type="date"], select {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 2px solid #04589e;
  border-radius: 58px;
  box-sizing: border-box;
}

select {
  background-color: #ffa726;
  color: white;
  border: none;
  font-size: 16px;
  appearance: none;
  padding-right: 30px;
  position: relative;
}



select:focus {
  outline: none;
  box-shadow: 0 0 20px #f6ff00;
}


button.apply {
  width: 70%;
  background: linear-gradient(to right, #ffa726, rgb(0, 0, 0));  color: white;
  font-size: 18px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin: 50px 130px 60px;
  padding: 12px 24px;         /* مساحة داخلية للزر */
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
    
}

button.apply:hover {
  background-color: #000;
  transform: translateY(-3px); /* حركة صغيرة عند التمرير */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* زيادة الظل عند التمرير */
  transition: all 0.3s ease;  

}

#footer {
  background: #333333;
  color: #ffa726;
  padding: 20px;
  font-size: 0.9em;
  border-top: 2px solid #ffa726;
  text-align: center;
}

.social-icon {
  color: #ffa726;
  font-size: 1.8em;
  margin: 0 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  color: #ffa726;
  transform: scale(1.2);
}

a:visited {
  color: goldenrod !important;
}
a{
  text-decoration: none;
}
