*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  .main h1{
    font-size: 3em;
    color: #333333;
  }
  .main h3{
    color:#333333;
    font-size: 1.5em;
  }
  header{
    background-color:#333333;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 250px;
  }
  .logo{
    text-decoration: none;
    color:#ffa726;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
  }
  .navigation a{
    color:#ffa726;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.1em;
    padding: 30px;
  }
  .navigation a:hover{
    color: white;
  }
  section{
    padding: 80px 60px;
  }
  .main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/indexphoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
.main-btn{
    color:#ffa726;
    background-color: #333333;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color:#060401;
    transform: scale(1.1,1.1);
}
.social a {
    padding-right: 40px;
    font-size: 1.7em;
    color:#333333;
}

#footer {
     background: #333333;
     color: #ffa726;
     padding: 20px;
     font-size: 0.9em;
     border-top: 2px solid #ffa726;
     text-align:center;
}
.social-icon {
     color: #ffa726;
     font-size: 1.8em;
     padding-top: 1px;
     margin: 0 15px;
     transition: transform 0.3s ease, color 0.3s ease;
}
    
.social-icon:hover {
     color: #ffa726;
     transform:scale(1.2);
}
#p1{
    font-size: 1.5em;
    padding-bottom: 20px;
}
#p2{
    font-size: 1.2em;
    padding-top: 20px ;
}

.ourwork{
    background-color: #333333;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    background-color: #333333;
    color: #ffa726;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    background-color: #333333;
    color: #ffa726;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-text {
    flex: 1;
    font-size: 1.2em;
    line-height: 1.6;
}

.about-media {
    flex: 1;
    text-align: center;
}

.about-image, .about-video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-text h2 {
    color: #060401;
}

.about-text ul {
    list-style-type: disc;
    margin: 15px 0;
    padding-left: 20px;
  }
  
  .about-text ul li {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .about-text ul li strong {
    color: #060401;
  }

  .about-text h3{
    color: #060401;
  } 

  .about-video {
    width: 100%;
    max-width: 800px;
    max-height: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}