.SP {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('./1.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #333333;
  background-size: cover;
  color: #333333;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333333;
  color: #ffa726;
  padding: 20px 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

#header h1 {
  font-size: 2.5em;
  font-weight: bold;
}

#content {
  max-width: 800px;
  margin: 50px auto;
  padding: 40px;
  background: #ffa726;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(238, 173, 10, 0.2);
  text-align: left;
  line-height: 1.8;
}

.profile-icon {
  font-size: 2.5em;
  background: #ffa726;
  color: #333333;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

nav {
  display: flex;
  justify-content: space-around;
  background: #444444;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

nav a {
  color: #ffa726;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease, background 0.3s ease;
}

nav a:hover {
  color: #333333;
  background: #ffa726;
  padding: 5px 10px;
  border-radius: 5px;
}

.destination-option {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 20px auto;
  background: #444444;
  border-radius: 15px;
  font-size: x-large;
  color: #ea971b;
  max-width: 800px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: #f5f5f5;
}

.destination-option:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.destination-img {
  width: 200px;
  height: 200px;
  border-radius: 15px;
  object-fit: cover;
  margin-right: 20px;
  font-size: xx-large;
}

.btn {
  padding: 12px 25px;
  background: #444444;
  color: #f9f5f5;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.2em;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background: #060401;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#footer {
  background: #333333;
  color: #ffa726;
  padding: 20px;
  font-size: 0.9em;
  border-top: 2px solid #ffa726;
  text-align: center;
}

.social-icon {
  color: #ffa726;
  font-size: 1.8em;
  margin: 0 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
  color: #ffa726;
  transform: scale(1.2);
}

a:visited {
  color: goldenrod !important;
}
a{
  text-decoration: none;
}
